@font-face {
  font-family: 'Digitalo';
  src: url("../src/fontes/Digitalo/digitalo.ttf"); }

@font-face {
  font-family: 'VoyagerHeavy';
  src: url("../src/fontes/elements-voyager-typeface-3NA33L-2017-06-16/Webfonts/Voyager Heavy Webfont.woff"); }

@font-face {
  font-family: 'VoyagerLight';
  src: url("../src/fontes/elements-voyager-typeface-3NA33L-2017-06-16/Voyager Light.otf"); }

* {
  border: none;
  padding: 0;
  margin: 0; }

@media screen and (min-width: 768px) {
  #header {
    background: #000;
    width: 100%;
    z-index: 1; }
    #header #time .timer {
      background-color: #000;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      height: auto; }
      #header #time .timer .date ul li {
        list-style: none;
        font-size: 18px;
        font-family: 'Digitalo';
        letter-spacing: 2px;
        color: #00FFEE; }
      #header #time .timer .clock {
        display: flex;
        justify-content: center;
        width: auto; }
        #header #time .timer .clock #clock {
          display: flex;
          flex-direction: row;
          font-family: "VoyagerHeavy";
          background-color: #000; }
          #header #time .timer .clock #clock span {
            font-size: 24px;
            display: flex;
            flex-direction: column;
            text-align: center;
            color: #00FFEE;
            margin: 10px; }
            #header #time .timer .clock #clock span b {
              font-size: 12px; }
        #header #time .timer .clock #modal {
          display: flex;
          justify-content: center; }
          #header #time .timer .clock #modal .btn {
            transition: .4s;
            background: #000;
            color: #00FFEE;
            border-color: #00FFEE;
            box-shadow: 0px 0px 10px #00FFEE;
            transform: scale(1.05);
            width: 100%;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'Digitalo';
            letter-spacing: 2px; }
          #header #time .timer .clock #modal .btn:active {
            color: #00FFEE;
            background: #000;
            border: 2px solid #00FFEE;
            outline: none; }
          #header #time .timer .clock #modal .btn:focus {
            outline: none; }
          #header #time .timer .clock #modal .btn:hover {
            transition: .4s;
            background: #00FFEE;
            color: #000;
            border-color: #00FFEE;
            box-shadow: 0px 0px 10px #00FFEE;
            transform: scale(1.05); }
  #inicial {
    padding: 20px 50px 100px 50px;
    background-color: #000;
    color: #fff;
    display: flex; }
    #inicial p {
      color: #00FFEE;
      font-family: 'VoyagerHeavy';
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      padding: 0; }
    #inicial .media {
      padding: 0;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 100%;
      display: flex;
      justify-content: center; }
      #inicial .media img {
        width: 250px;
        height: 250px;
        margin: 0;
        padding: 0; }
    #inicial .intro {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: left;
      padding: 0px 100px 0px 100px; }
      #inicial .intro h1 {
        color: #fff;
        text-shadow: 0px 0px 10px #00FFEE;
        font-family: 'VoyagerHeavy';
        padding: 20px 0px 0px 0px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        height: 40px; }
      #inicial .intro h1::after {
        content: "|";
        height: 20px;
        width: 1px;
        color: #fff;
        animation: blinker 1s infinite alternate; }
  @keyframes blinker {
    to {
      opacity: 0; } }
      #inicial .intro span {
        color: #fff;
        text-shadow: 0px 0px 5px #00FFEE;
        font-family: 'VoyagerHeavy';
        padding: 20px 20px 20px 0px;
        text-align: center;
        font-size: 28px;
        font-weight: bold; }
      #inicial .intro p {
        color: #fff;
        width: 100%;
        font-family: "Digitalo" !important;
        letter-spacing: 1px;
        text-align: left;
        font-size: 16px;
        line-height: 25px; }
      #inicial .intro #modal {
        display: flex;
        justify-content: center;
        padding: 30px;
        margin-bottom: 20px; }
        #inicial .intro #modal .btn {
          width: 300px;
          padding: 15px;
          margin-top: 30px;
          color: #000;
          border: 2px solid #000;
          border-radius: 10px;
          background-color: #00FFEE;
          font-size: 1.2em;
          text-transform: uppercase;
          font-weight: bold;
          font-family: 'Digitalo';
          letter-spacing: 2px;
          box-shadow: 0px 0px 10px #00FFEE;
          transition: .4s; }
        #inicial .intro #modal .btn:active {
          color: #00FFEE;
          background: #000;
          border: 2px solid #00FFEE;
          outline: none; }
        #inicial .intro #modal .btn:focus {
          outline: none; }
        #inicial .intro #modal .btn:hover {
          transition: .4s;
          background: #000;
          color: #00FFEE;
          border-color: #00FFEE;
          box-shadow: 0px 0px 10px #00FFEE;
          transform: scale(1.05); }
  #features {
    background-color: #000;
    color: #fff;
    padding: 50px 0px; }
    #features h1 {
      color: #00FFEE;
      text-shadow: 0px 0px 5px #00FFEE;
      font-family: 'VoyagerHeavy';
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      padding: 20px; }
    #features #line {
      background-color: #000000;
      background-image: linear-gradient(45deg, #000000 0%, #00FFEE 25%, #00FFEE 50%, #00FFEE 75%, #000000 99%);
      height: 1px;
      width: 30%; }
    #features ol {
      position: relative;
      margin-top: 30px; }
      #features ol li {
        width: 15px;
        height: 15px;
        margin: 5px; }
    #features .carousel .carousel-inner .item #card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin: 50px; }
      #features .carousel .carousel-inner .item #card .card {
        box-shadow: 0px 0px 10px #00FFEE;
        margin: 20px;
        border-radius: 10px;
        width: 100%;
        height: 300px; }
        #features .carousel .carousel-inner .item #card .card .card-text {
          color: #fff;
          width: 100%; }
          #features .carousel .carousel-inner .item #card .card .card-text h1 {
            height: 100px; }
          #features .carousel .carousel-inner .item #card .card .card-text p {
            padding: 20px 50px 20px 50px;
            font-family: 'digitalo';
            letter-spacing: 1px;
            text-align: left;
            font-size: 16px; }
    #features #modules {
      display: none; }
  #metodology {
    background-color: #000;
    color: #fff; }
    #metodology .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 40px 20px 40px 20px; }
      #metodology .text h1 {
        color: #00FFEE;
        font-family: 'VoyagerHeavy';
        font-size: 36px;
        font-weight: bold;
        padding: 20px; }
      #metodology .text p {
        width: 60%;
        font-family: 'digitalo';
        letter-spacing: 1px;
        text-align: center;
        font-size: 18px;
        line-height: 30px; }
  #fy {
    padding: 50px 100px 50px 100px;
    background-color: #000;
    color: #fff; }
    #fy .cardsFy {
      display: flex;
      flex-direction: row; }
      #fy .cardsFy .card {
        width: 50%;
        padding: 10px;
        margin: 20px;
        border-radius: 10px; }
        #fy .cardsFy .card h1 {
          color: #fff;
          font-family: 'VoyagerHeavy';
          text-align: center;
          font-size: 36px;
          font-weight: bold;
          padding: 20px; }
          #fy .cardsFy .card h1 .positive {
            color: #00FFEE !important;
            text-shadow: 0px 0px 5px #00FFEE; }
          #fy .cardsFy .card h1 span {
            color: #ff4500;
            text-shadow: 0px 0px 5px #ff4500; }
        #fy .cardsFy .card ul {
          display: flex;
          flex-direction: column;
          padding: 20px 0px 20px 40px;
          list-style: none; }
          #fy .cardsFy .card ul li {
            width: 80%;
            display: flex;
            align-items: center;
            flex-direction: row;
            font-family: 'VoyagerHeavy';
            letter-spacing: 1px;
            margin-bottom: 10px;
            font-size: 14px; }
            #fy .cardsFy .card ul li .fa-check {
              text-shadow: 0px 0px 10px #00FFEE;
              font-size: 20px;
              color: #00FFEE;
              margin-right: 20px; }
            #fy .cardsFy .card ul li .fa-times {
              text-shadow: 0px 0px 10px #ff4500;
              font-size: 20px;
              color: #ff4500;
              margin-right: 20px; }
      #fy .cardsFy .line {
        display: flex;
        justify-content: center;
        align-items: center; }
        #fy .cardsFy .line .span {
          border-radius: 20px;
          box-shadow: 0px 0px 10px #00FFEE;
          content: "";
          height: 400px;
          width: 2px;
          background-color: #00FFEE; }
  #adversating {
    background-color: #000;
    color: #fff; }
    #adversating .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 100px 50px 20px 50px;
      padding: 20px;
      border-top: 1px solid #00FFEE;
      border-bottom: 1px solid #00FFEE;
      border-radius: 10px; }
      #adversating .text h1 {
        color: #fff;
        text-shadow: 0px 0px 10px #00FFEE;
        font-family: 'VoyagerHeavy';
        font-size: 24px;
        font-weight: bold; }
      #adversating .text p {
        width: 80%;
        font-family: 'digitalo';
        letter-spacing: 2px;
        text-align: left;
        font-size: 14px;
        line-height: 25px; }
        #adversating .text p b {
          color: #00FFEE; }
  #bonus {
    background-color: #000;
    color: #fff;
    padding: 70px 20px 70px 20px;
    display: flex;
    justify-content: left;
    align-items: center; }
    #bonus .card-bonus {
      background-color: #000;
      width: 100%;
      border: 1px solid #00FFEE;
      box-shadow: 0px 0px 20px #00FFEE;
      height: 100%;
      margin: 20px; }
      #bonus .card-bonus .title {
        padding: 20px 30px 20px 30px; }
        #bonus .card-bonus .title h1 {
          color: #fff;
          font-family: 'VoyagerHeavy';
          font-size: 28px;
          font-weight: bold;
          text-align: center;
          line-height: 40px; }
        #bonus .card-bonus .title p {
          font-family: 'digitalo';
          letter-spacing: 1px;
          padding: 20px;
          text-align: center;
          font-size: 16px; }
          #bonus .card-bonus .title p span {
            color: #00FFEE; }
      #bonus .card-bonus .vantagens ul {
        display: flex;
        flex-direction: column;
        padding: 20px 0px 20px 40px;
        list-style: none; }
        #bonus .card-bonus .vantagens ul .item {
          display: flex;
          flex-direction: row; }
          #bonus .card-bonus .vantagens ul .item li {
            width: 80%;
            display: flex;
            flex-direction: row;
            font-family: 'VoyagerHeavy';
            letter-spacing: 1px;
            margin-bottom: 10px;
            font-size: 1.1em; }
            #bonus .card-bonus .vantagens ul .item li i {
              color: #00FFEE;
              margin-right: 20px; }
          #bonus .card-bonus .vantagens ul .item p {
            text-decoration: line-through;
            width: 30%;
            font-family: 'VoyagerHeavy';
            letter-spacing: 1px;
            text-align: left;
            margin: 0px;
            padding: 0px 0px 20px 40px;
            font-size: 1.2em;
            color: rgba(255, 255, 255, 0.6); }
      #bonus .card-bonus .price {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #bonus .card-bonus .price h1 {
          color: #00FFEE;
          text-shadow: 0px 0px 10px #00FFEE;
          font-family: 'digitalo';
          letter-spacing: 2px;
          line-height: 40px;
          text-align: left;
          margin: 0px;
          padding: 0px 0px 40px 40px;
          font-size: 40px;
          font-weight: bold; }
        #bonus .card-bonus .price p {
          font-family: 'VoyagerHeavy';
          letter-spacing: 1px;
          text-align: left;
          margin: 0px;
          padding: 0px 0px 20px 40px;
          font-size: 14px; }
    #bonus .card-bonus-mobile {
      display: none; }
    #bonus .card-value {
      background-color: #000;
      width: 380px;
      border: 1px solid #00FFEE;
      border-radius: 10px;
      box-shadow: 0px 0px 20px #00FFEE;
      height: 100%;
      margin: 100px; }
      #bonus .card-value .title {
        padding: 20px 30px 20px 30px; }
        #bonus .card-value .title h1 {
          color: #fff;
          font-family: 'VoyagerHeavy';
          font-size: 28px;
          font-weight: bold;
          text-align: center;
          line-height: 40px; }
        #bonus .card-value .title p {
          font-family: 'digitalo';
          letter-spacing: 1px;
          padding: 20px;
          text-align: center;
          font-size: 16px; }
      #bonus .card-value .vantagens ul {
        padding: 20px 0px 20px 40px;
        list-style: none; }
        #bonus .card-value .vantagens ul li {
          font-family: 'VoyagerHeavy';
          letter-spacing: 1px;
          margin-bottom: 10px;
          font-size: 1.1em; }
          #bonus .card-value .vantagens ul li i {
            color: #00FFEE;
            margin-right: 20px; }
      #bonus .card-value .price h1 {
        color: #00FFEE;
        font-family: 'digitalo';
        letter-spacing: 2px;
        line-height: 40px;
        text-align: left;
        margin: 0px;
        padding: 0px 0px 0px 40px;
        font-size: 2em;
        font-weight: bold; }
      #bonus .card-value .price p {
        font-family: 'VoyagerHeavy';
        letter-spacing: 1px;
        text-align: left;
        margin: 0px;
        padding: 0px 0px 20px 40px;
        font-size: 1.2em; }
      #bonus .card-value #modal {
        display: flex;
        justify-content: center;
        margin: 0px 30px 30px 30px; }
        #bonus .card-value #modal .btn {
          width: 100%;
          padding: 15px;
          margin-top: 30px;
          background: #00ffee;
          color: #000;
          border-color: #000;
          border-radius: 10px;
          font-size: 1.2em;
          text-transform: uppercase;
          font-weight: bold;
          font-family: 'Digitalo';
          letter-spacing: 2px;
          box-shadow: 0px 0px 10px #00FFEE;
          transition: .4s; }
        #bonus .card-value #modal .btn:active {
          color: #000;
          background: #00ffee;
          border: 2px solid #000;
          outline: none; }
        #bonus .card-value #modal .btn:focus {
          outline: none; }
        #bonus .card-value #modal .btn:hover {
          transition: .4s;
          background: #000;
          color: #00FFEE;
          border-color: #00FFEE;
          box-shadow: 0px 0px 10px #00FFEE;
          transform: scale(1.05); }
  #testimonials {
    background-color: #000;
    color: #fff; }
    #testimonials .cards .title {
      padding: 20px; }
      #testimonials .cards .title h1 {
        color: #00FFEE;
        font-family: 'VoyagerHeavy';
        font-size: 36px;
        padding: 10px;
        font-weight: bold;
        text-align: center; }
      #testimonials .cards .title #line {
        background-color: #000000;
        background-image: linear-gradient(45deg, #000000 0%, #00FFEE 25%, #00FFEE 50%, #00FFEE 75%, #000000 99%);
        height: 1px;
        width: 20%; }
    #testimonials .cards .carousel .carousel-inner {
      display: flex;
      justify-content: center; }
      #testimonials .cards .carousel .carousel-inner .item .card video {
        outline: none;
        width: 700px;
        height: 400px; }
    #testimonials .cards .carousel ol {
      position: relative;
      margin-top: 30px; }
      #testimonials .cards .carousel ol li {
        margin-top: 30px;
        margin: 5px;
        width: 15px;
        height: 15px;
        position: relative; }
  #garantia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 40px 20px;
    background-color: #000;
    color: #fff; }
    #garantia img {
      margin: 0 auto;
      width: 180px;
      height: 150px; }
    #garantia p {
      width: 700px;
      font-family: 'digitalo';
      letter-spacing: 1px;
      padding: 20px;
      width: 7 00px;
      text-align: center;
      font-size: 16px; }
  #FAQ .perguntas {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    padding: 30px;
    background-color: #000; }
    #FAQ .perguntas h1 {
      color: #00FFEE;
      font-family: 'VoyagerHeavy';
      padding: 20px 20px 100px 20px;
      text-align: center;
      font-size: 36px;
      font-weight: bold;
      height: 40px; }
    #FAQ .perguntas .pergunta {
      margin: 0px 100px 0px 100px;
      border-bottom: 1px solid #fff; }
      #FAQ .perguntas .pergunta a {
        font-size: 18px;
        line-height: 30px;
        font-family: 'digitalo';
        letter-spacing: 1px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        margin: 0;
        padding: 10px; }
        #FAQ .perguntas .pergunta a:focus {
          color: #00FFEE; }
        #FAQ .perguntas .pergunta a:hover {
          color: #00FFEE; }
      #FAQ .perguntas .pergunta p {
        font-family: 'digitalo';
        letter-spacing: 1px;
        font-size: 16px;
        padding: 20px; }
  #footer {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    padding-top: 20px; }
    #footer ul {
      display: flex;
      flex-direction: column;
      list-style: none; }
      #footer ul li p {
        line-height: 40px;
        font-family: 'digitalo';
        letter-spacing: 1px;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 0;
        margin: 0; }
        #footer ul li p span {
          color: #00FFEE; }
  #subir {
    display: none; }
  #IconWpp {
    display: none; } }

@media only screen and (max-width: 768px) {
  main {
    overflow-x: hidden; }
  #header #time .timer {
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: auto; }
    #header #time .timer .date ul li {
      display: none; }
    #header #time .timer .clock {
      display: flex;
      justify-content: center;
      width: auto; }
      #header #time .timer .clock #clock {
        display: flex;
        flex-direction: row;
        font-family: "VoyagerHeavy";
        background-color: #000; }
        #header #time .timer .clock #clock span {
          font-size: 24px;
          display: flex;
          flex-direction: column;
          text-align: center;
          color: #00FFEE;
          margin: 10px; }
          #header #time .timer .clock #clock span b {
            font-size: 12px; }
      #header #time .timer .clock #modal {
        display: flex;
        justify-content: center; }
        #header #time .timer .clock #modal .btn {
          transition: .4s;
          background: #000;
          color: #00FFEE;
          border-color: #00FFEE;
          box-shadow: 0px 0px 10px #00FFEE;
          transform: scale(1.05);
          width: 100%;
          font-size: 24px;
          text-transform: uppercase;
          font-weight: bold;
          font-family: 'Digitalo';
          letter-spacing: 2px; }
        #header #time .timer .clock #modal .btn:active {
          color: #00FFEE;
          background: #000;
          border: 2px solid #00FFEE;
          outline: none; }
        #header #time .timer .clock #modal .btn:focus {
          outline: none; }
        #header #time .timer .clock #modal .btn:hover {
          transition: .4s;
          background: #00FFEE;
          color: #000;
          border-color: #00FFEE;
          box-shadow: 0px 0px 10px #00FFEE;
          transform: scale(1.05); }
  #inicial {
    background-color: #000;
    color: #fff;
    padding: 50px 0px; }
    #inicial .aviso {
      color: #00FFEE;
      font-family: 'VoyagerHeavy';
      padding: 20px 40px 0px 40px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 10px;
      line-height: 25px; }
    #inicial #line {
      background-color: #000000;
      background-image: linear-gradient(45deg, #000000 0%, #00FFEE 25%, #00FFEE 50%, #00FFEE 75%, #000000 99%);
      height: 1px;
      width: 30%; }
    #inicial .media {
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: center; }
      #inicial .media img {
        margin: 0;
        padding: 0px 50px;
        width: 100%;
        height: 250px; }
    #inicial .intro {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #inicial .intro h1 {
        color: #fff;
        text-shadow: 0px 0px 10px #00FFEE;
        font-family: 'VoyagerHeavy';
        padding: 20px;
        text-align: center;
        font-size: 1.8em;
        font-weight: bold;
        height: 40px;
        padding-bottom: 0px; }
      #inicial .intro h1::after {
        content: "|";
        height: 20px;
        width: 1px;
        color: #fff;
        animation: blinker 1s infinite alternate; }
  @keyframes blinker {
    to {
      opacity: 0; } }
      #inicial .intro span {
        color: #fff;
        text-shadow: 0px 0px 10px #00FFEE;
        font-family: 'VoyagerHeavy';
        padding: 0px 20px 20px 20px;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold; }
      #inicial .intro p {
        font-family: 'digitalo';
        letter-spacing: 1px;
        padding: 0px 20px 20px 20px;
        text-align: center;
        font-size: 1em; }
      #inicial .intro #modal .btn {
        width: 250px;
        padding: 15px;
        margin-top: 30px;
        color: #000;
        border: 2px solid #000;
        border-radius: 10px;
        background-color: #00FFEE;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Digitalo';
        letter-spacing: 2px;
        box-shadow: 0px 0px 10px #00FFEE; }
      #inicial .intro #modal .btn:active {
        color: #00FFEE;
        background: #000;
        border: 2px solid #00FFEE;
        outline: none; }
      #inicial .intro #modal .btn:focus {
        outline: none; }
  #features {
    background-color: #000;
    color: #fff;
    padding: 60px 0px 60px 0px; }
    #features h1 {
      color: #fff;
      text-shadow: 0px 0px 10px #00FFEE;
      font-family: 'VoyagerHeavy';
      text-align: center;
      font-size: 21px;
      font-weight: bold;
      padding: 20px; }
    #features #modules {
      color: #fff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: left;
      padding: 0px 30px 0px 30px;
      background-color: #000; }
      #features #modules .module {
        box-shadow: 0px 0px 8px #00FFEE;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px; }
        #features #modules .module a {
          display: flex;
          justify-content: space-around;
          word-wrap: break-word;
          font-family: 'digitalo';
          letter-spacing: 1px;
          text-align: center;
          font-size: 16px;
          color: #fff;
          text-decoration: none;
          margin: 0;
          padding: 10px 10px 10px 10px; }
          #features #modules .module a:focus {
            color: #00FFEE; }
        #features #modules .module p {
          font-family: 'digitalo';
          letter-spacing: 1px;
          text-align: left;
          font-size: 14px;
          color: #fff;
          text-decoration: none;
          margin: 0;
          padding: 10px 10px 10px 20px; }
    #features ol {
      display: none; }
    #features .carousel-inner {
      display: none; }
  #metodology {
    background-color: #000;
    color: #fff; }
    #metodology .text h1 {
      color: #fff;
      text-shadow: 0px 0px 10px #00FFEE;
      font-family: 'VoyagerHeavy';
      text-align: center;
      font-size: 21px;
      font-weight: bold;
      padding: 10px; }
    #metodology .text p {
      font-family: 'digitalo';
      letter-spacing: 1px;
      padding: 20px;
      text-align: center;
      font-size: 16px; }
  #fy {
    padding: 50px 10px 50px 10px;
    background-color: #000;
    color: #fff; }
    #fy .cardsFy {
      display: flex;
      flex-direction: column; }
      #fy .cardsFy .card {
        width: 100%;
        border-radius: 10px; }
        #fy .cardsFy .card h1 {
          color: #fff;
          font-family: 'VoyagerHeavy';
          text-align: center;
          font-size: 21px;
          font-weight: bold;
          padding: 10px; }
          #fy .cardsFy .card h1 .positive {
            color: #00FFEE;
            text-shadow: 0px 0px 5px #00FFEE; }
          #fy .cardsFy .card h1 span {
            color: #ff4500;
            text-shadow: 0px 0px 5px #ff4500; }
        #fy .cardsFy .card ul {
          display: flex;
          flex-direction: column;
          padding: 20px 0px 20px 40px;
          list-style: none; }
          #fy .cardsFy .card ul li {
            width: 90%;
            display: flex;
            align-items: center;
            flex-direction: row;
            font-family: 'VoyagerHeavy';
            letter-spacing: 1px;
            margin-bottom: 20px;
            font-size: 14px; }
            #fy .cardsFy .card ul li .fa-check {
              text-shadow: 0px 0px 10px #00FFEE;
              font-size: 20px;
              color: #00FFEE;
              margin-right: 20px; }
            #fy .cardsFy .card ul li .fa-times {
              text-shadow: 0px 0px 10px #ff4500;
              font-size: 20px;
              color: #ff4500;
              margin-right: 20px; }
      #fy .cardsFy .line {
        display: none; }
  #adversating {
    background-color: #000;
    color: #fff; }
    #adversating .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 40px 0px 20px 0px;
      border-top: 1px solid #00FFEE;
      border-bottom: 1px solid #00FFEE;
      border-radius: 10px; }
      #adversating .text h1 {
        padding: 10px;
        color: #fff;
        text-shadow: 0px 0px 10px #00FFEE;
        font-family: 'VoyagerHeavy';
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 40px; }
      #adversating .text p {
        font-family: 'digitalo';
        letter-spacing: 1px;
        padding: 20px;
        text-align: center;
        font-size: 16px;
        line-height: 25px; }
        #adversating .text p b {
          color: #00FFEE; }
  #bonus {
    background-color: #000;
    color: #fff;
    padding: 70px 20px 70px 20px; }
    #bonus .card-bonus {
      display: none; }
    #bonus .card-bonus-mobile {
      margin: 20px 0px 80px 0px; }
      #bonus .card-bonus-mobile .title {
        padding: 0px 20px; }
        #bonus .card-bonus-mobile .title h1 {
          color: #fff;
          font-family: 'VoyagerHeavy';
          font-size: 28px;
          font-weight: bold;
          text-align: center;
          line-height: 40px; }
        #bonus .card-bonus-mobile .title p {
          font-family: 'digitalo';
          letter-spacing: 1px;
          padding: 10px;
          text-align: center;
          font-size: 16px;
          line-height: 25px; }
      #bonus .card-bonus-mobile .vantagens {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px; }
        #bonus .card-bonus-mobile .vantagens ul {
          list-style: none; }
          #bonus .card-bonus-mobile .vantagens ul .item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 8px #00FFEE;
            border-radius: 10px;
            margin: 15px; }
            #bonus .card-bonus-mobile .vantagens ul .item li {
              font-family: 'digitalo';
              letter-spacing: 1px;
              text-align: center;
              font-size: 12px;
              color: #fff;
              text-decoration: none;
              padding: 10px 10px 10px 10px; }
            #bonus .card-bonus-mobile .vantagens ul .item p {
              font-family: 'digitalo';
              letter-spacing: 1px;
              text-align: center;
              font-size: 16px;
              color: rgba(255, 255, 255, 0.6);
              text-decoration: line-through;
              margin: 0;
              padding: 10px 10px 10px 20px; }
      #bonus .card-bonus-mobile .price {
        display: flex;
        flex-direction: column;
        align-items: center; }
        #bonus .card-bonus-mobile .price h1 {
          color: #00FFEE;
          text-shadow: 0px 0px 10px #00FFEE;
          font-family: 'digitalo';
          letter-spacing: 2px;
          line-height: 40px;
          text-align: left;
          margin: 0px;
          font-size: 40px;
          font-weight: bold; }
        #bonus .card-bonus-mobile .price p {
          font-family: 'VoyagerHeavy';
          letter-spacing: 1px;
          text-align: left;
          margin: 0px;
          padding: 0px 0px 20px 0px;
          font-size: 14px; }
    #bonus .card-value {
      border: 1px solid #00FFEE;
      border-radius: 20px;
      height: auto; }
      #bonus .card-value .title {
        padding: 20px 0px 0px 0px; }
        #bonus .card-value .title h1 {
          color: #fff;
          font-family: 'VoyagerHeavy';
          text-align: center;
          font-size: 21px;
          font-weight: bold;
          padding: 10px; }
        #bonus .card-value .title p {
          font-family: 'digitalo';
          letter-spacing: 1px;
          padding: 20px;
          text-align: center;
          font-size: 16px; }
      #bonus .card-value .vantagens ul {
        padding: 20px 0px 20px 40px;
        list-style: none; }
        #bonus .card-value .vantagens ul li {
          font-family: 'VoyagerHeavy';
          letter-spacing: 1px;
          margin-bottom: 10px;
          font-size: 1.1em; }
          #bonus .card-value .vantagens ul li i {
            color: #00FFEE;
            margin-right: 20px; }
      #bonus .card-value .price h1 {
        color: #00FFEE;
        font-family: 'digitalo';
        letter-spacing: 2px;
        line-height: 40px;
        text-align: left;
        margin: 0px;
        padding: 0px 0px 0px 40px;
        font-size: 2em;
        font-weight: bold; }
      #bonus .card-value .price p {
        font-family: 'VoyagerHeavy';
        letter-spacing: 1px;
        text-align: left;
        margin: 0px;
        padding: 0px 0px 20px 40px;
        font-size: 1.2em; }
      #bonus .card-value #modal {
        display: flex;
        justify-content: center;
        margin-bottom: 30px; }
        #bonus .card-value #modal .btn {
          width: 250px;
          padding: 15px;
          margin-top: 30px;
          color: #000;
          border: 2px solid #00FFEE;
          border-radius: 10px;
          background-color: #00FFEE;
          font-size: 1.2em;
          text-transform: uppercase;
          font-weight: bold;
          font-family: 'Digitalo';
          letter-spacing: 2px;
          box-shadow: 0px 0px 10px #00FFEE; }
        #bonus .card-value #modal .btn:active {
          color: #00FFEE;
          background: #000;
          border: 2px solid #00FFEE;
          outline: none; }
        #bonus .card-value #modal .btn:focus {
          outline: none; }
  #testimonials {
    padding: 30px 0px 30px 0px;
    background-color: #000;
    color: #fff; }
    #testimonials .cards .title h1 {
      color: #fff;
      text-shadow: 0px 0px 10px #00FFEE;
      font-family: 'VoyagerHeavy';
      font-size: 21px;
      padding: 10px;
      font-weight: bold;
      text-align: center; }
    #testimonials .cards .title #line {
      background-color: #000000;
      background-image: linear-gradient(45deg, #000000 0%, #00FFEE 25%, #00FFEE 50%, #00FFEE 75%, #000000 99%);
      height: 1px;
      width: 20%; }
    #testimonials .cards .title p {
      font-family: 'digitalo';
      letter-spacing: 1px;
      text-align: center;
      font-size: 18px;
      line-height: 30px;
      padding: 20px; }
    #testimonials .cards .carousel ol {
      position: relative;
      margin-top: 30px; }
      #testimonials .cards .carousel ol li {
        margin-top: 30px;
        margin: 5px;
        width: 15px;
        height: 15px;
        position: relative; }
  #garantia {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 20px;
    background-color: #000;
    color: #fff; }
    #garantia img {
      margin: 0 auto;
      width: 180px;
      height: 150px; }
    #garantia p {
      font-family: 'digitalo';
      letter-spacing: 1px;
      padding: 20px;
      text-align: center;
      font-size: 16px; }
  #FAQ .perguntas {
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    padding: 30px;
    background-color: #000; }
    #FAQ .perguntas h1 {
      color: #fff;
      text-shadow: 0px 0px 10px #00FFEE;
      font-family: 'VoyagerHeavy';
      text-align: center;
      font-size: 21px;
      font-weight: bold;
      padding: 10px; }
    #FAQ .perguntas .pergunta {
      border-bottom: 1px solid #fff; }
      #FAQ .perguntas .pergunta a {
        font-family: 'digitalo';
        letter-spacing: 1px;
        text-align: center;
        font-size: 10px;
        color: #fff;
        text-decoration: none;
        margin: 0;
        padding: 10px 0px 10px 0px; }
        #FAQ .perguntas .pergunta a:focus {
          color: #00FFEE; }
  #footer {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px;
    padding-top: 20px; }
    #footer ul {
      display: flex;
      flex-direction: column;
      list-style: none; }
      #footer ul li p {
        font-family: 'digitalo';
        letter-spacing: 1px;
        font-size: 10px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 0;
        margin: 0; }
  #subir {
    position: fixed;
    bottom: 15px;
    right: 10px;
    padding: 16px 16px 8px 16px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid #00FFEE;
    border-radius: 100px; }
    #subir i {
      font-size: 1.2em;
      color: #00FFEE; }
  #IconWpp {
    margin: 0px 15px 0px 10px;
    border-radius: 100px;
    position: fixed;
    bottom: 15px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.3); }
    #IconWpp i {
      color: #25d366;
      font-size: 36px; } }

@media only screen and (max-width: 350px) {
  .timer .clock #clock {
    flex-wrap: wrap; }
    .timer .clock #clock span {
      font-size: 20px !important; }
      .timer .clock #clock span b {
        font-size: 16px !important; }
  .timer .clock #modal {
    display: flex;
    justify-content: center; }
    .timer .clock #modal .btn {
      padding: 15px 0px 15px 0px !important; }
  #features h1 {
    color: #fff;
    text-shadow: 0px 0px 10px #00FFEE;
    font-family: 'VoyagerHeavy';
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    padding: 20px; }
  #features #modules {
    padding: 0px 10px 0px 10px; }
    #features #modules .module a {
      font-size: 14px; }
    #features #modules .module p {
      font-size: 12px; }
  #bonus {
    background-color: #000;
    color: #fff;
    padding: 30px 10px 30px 10px; }
    #bonus .card-value .vantagens ul {
      padding: 20px 0px 20px 40px;
      list-style: none; }
      #bonus .card-value .vantagens ul li {
        font-family: 'VoyagerHeavy';
        letter-spacing: 1px;
        margin-bottom: 10px;
        font-size: 12px; }
        #bonus .card-value .vantagens ul li i {
          color: #00FFEE;
          margin-right: 20px; }
    #bonus .card-value .price h1 {
      color: #00FFEE;
      font-family: 'digitalo';
      letter-spacing: 2px;
      line-height: 40px;
      text-align: left;
      margin: 0px;
      padding: 0px 0px 0px 40px;
      font-size: 20px;
      font-weight: bold; }
    #bonus .card-value .price p {
      font-family: 'VoyagerHeavy';
      letter-spacing: 1px;
      text-align: left;
      margin: 0px;
      padding: 0px 0px 20px 40px;
      font-size: 16px; } }

::-webkit-scrollbar {
  overflow: hidden;
  width: 10px;
  border-radius: 0;
  transition: width .5s ease; }

::-webkit-scrollbar-track {
  background-color: #292929; }

::-webkit-scrollbar-thumb {
  background: #00FFEE;
  border-radius: 0;
  transition: 0.5s; }

::-webkit-scrollbar-thumb:hover {
  border-radius: 20px;
  background-color: #00aca0;
  border-radius: 0;
  transition: 0.5s; }
